<h1>Menu</h1>

<a routerLinkActive="active-link" routerLink="/sims">
  <span>Sims</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/simsPath">
  <span>Relationship: Adam Tomasz</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/SM">
  <span>Relationship: Amanda Marzena</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/JS">
  <span>Relationship: Julia Sergiej</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/MHHL">
  <span>Relationship: Grzegorz - Hopewell Hills - Luca</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/MHHL">
  <span>Relationship: Monika - Foundry Cove - Copper</span>
</a>

<div>
  <a routerLinkActive="active-link" routerLink="/people-in-house">
    <span>Sims in House</span>
  </a>
</div>

<div>
  <a routerLinkActive="active-link" routerLink="/pets-is-neighbourhood">
    <span>Pets in Neighbourhood</span>
  </a>
</div>

<div>
  <a routerLinkActive="active-link" routerLink="/PWFAJ">
    <span>Sims with job and firiends</span>
  </a>
</div>

<div>
  <a routerLinkActive="active-link" routerLink="/people-with-relations">
    <span>Sims with firiends</span>
  </a>
</div>
