<h1>Menu</h1>

<a routerLinkActive="active-link" routerLink="/sims">
  <span>Sims</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/simsPath">
  <span>Relationship: Adam Tomasz</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/SM">
  <span>Relationship: Amanda Marzena</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/JS">
  <span>Relationship: Julia Sergiej</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/MHHL">
  <span>Relationship: Grzegorz - Hopewell Hills - Luca</span>
</a>
<br>
<a routerLinkActive="active-link" routerLink="/MHHL">
  <span>Relationship: Monika - Foundry Cove - Copper</span>
</a>
